* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

header .logo {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

header h1 {
    display: inline-block;
    line-height: 75px;
    vertical-align: text-bottom;
}


body {
    background-color: rgba(234, 225, 225, 0.4);
}
