* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

header .logo {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

header h1 {
    display: inline-block;
    line-height: 75px;
    vertical-align: text-bottom;
    font-family: sans-serif;
    font-weight: 900;
}


body {
    background-color: rgba(234, 225, 225, 0.4);
}

nav .blue-button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: rgba(87, 125, 241, 0.818);
    color: white;
    font-weight: bold;
}

nav .white-button {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid rgba(150, 147, 147, 0.5);
    background-color: white;
    color: rgba(150, 147, 147, 0.5);
    font-weight: bold;
}

.navigazione {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
}

.green-check {
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid green
   
}

.green-check-g {
    color: green;
}

.red-check {
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid red

}

.red-check-r {
    color: red;
}